statemachine.json
{
          "Comment": "Create or Update User",
          "StartAt": "ConfigureCount",
          "States": {
            "ConfigureCount": {
              "Type": "Pass",
              "Result": {
                "employeeNum": 0
              },
              "ResultPath": "$",
              "Next": "UserIterator"
            },
            "UserIterator": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:873623161237:function:BulkEventsLambda",
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 2,
                  "BackoffRate": 2
                }
              ],
              "Next": "IsCountReached"
            },
            "IsCountReached": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.continue",
                  "BooleanEquals": true,
                  "Next": "ProcessUser"
                }
              ],
              "Default": "Done"
            },
            "ProcessUser": {
              "Comment": "Create or update user to run a specific number of times",
              "Type": "Pass",
              "Result": {
                "success": true
              },
              "ResultPath": "$.result",
              "Next": "UserIterator"
            },
            "Done": {
              "Type": "Pass",
              "End": true
            }
          }
        }

